.ad-home-dashboard-section .ad-home-dashboard-container .ad-home-dashboard-optionsDetailPage {

    margin-top: 25px;
    padding: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 17px;
    width: 75%;
    height: 825px;
    background-color: rgb(255, 255, 255);
}


.ad-home-dashboard-section .ad-home-dashboard-container .ad-home-dashboard-optionsDetailPage .tDive {
    width: 65%;
    background-color: #e3dfdf73;
    border-radius: 10px;
    padding: 25px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 25rem;
}


.ad-home-dashboard-section .ad-home-dashboard-container .ad-home-dashboard-optionsDetailPage .addCategory-div {

    width: 65%;
    background-color: #e3dfdf73;
    border-radius: 10px;
    padding: 42px;
    height: 19.5rem;
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: center;
}




/* add category eds here  */



/* coupon starts here  */



.ad-home-dashboard-section .ad-home-dashboard-container .ad-home-dashboard-optionsDetailPage .tDive-coupon {

    width: 100%;
    background-color: #e3dfdf73;
    border-radius: 10px;
    padding: 25px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 22rem;

}


.ad-home-dashboard-section .ad-home-dashboard-container .ad-home-dashboard-optionsDetailPage .addCoupon-div {
    

width: 100%;
background-color: #e3dfdf73;
border-radius: 10px;
padding: 42px;
height: 24.5rem;
display: flex;
flex-direction: column;
gap: 26px;
align-items: center;

}
