.ad-home-dashboard-optionsDetailPage {
  margin-top: 25px;
  padding: 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 17px;
  width: 75%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 825px;
  background-color: rgb(255, 255, 255);
}
