.ad-home-dashboard-section .ad-home-dashboard-container .ad-home-dashboard-optionsDetailPage {
  margin-top: 25px;
  padding: 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 17px;
  width: 75%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 825px;
  background-color: rgb(255, 255, 255);
}

.ad-home-dashboard-section .ad-home-dashboard-container .ad-home-dashboard-optionsDetailPage .adProduct-formDiv {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ad-home-dashboard-section .ad-home-dashboard-container .ad-home-dashboard-optionsDetailPage .adProduct-formDiv .in input {
  width: 100%;
  outline: none;
  font-size: 1.2em;
  padding: 4px 15px;
  line-height: 72px;
  border-radius: 5px;
  border: 2px solid #e3dfdf73;
  background: transparent;
  transition: 0.1s cubic-bezier(0.6, 0.32, 0, 1.04);
}

.ad-home-dashboard-section .ad-home-dashboard-container .ad-home-dashboard-optionsDetailPage .adProduct-formDiv .in input:focus {
  border-color: #e3dfdf;
}

.ad-home-dashboard-section .ad-home-dashboard-container .ad-home-dashboard-optionsDetailPage .adProduct-formDiv .in select {
  width: 100%;
  outline: none;
  font-size: 1.2em;
  padding: 4px 15px;
  height: 5rem;
  line-height: 72px;
  border-radius: 5px;
  border: 2px solid #e3dfdf73;
  background: transparent;
  transition: 0.1s cubic-bezier(0.6, 0.32, 0, 1.04);
}

.ad-home-dashboard-section .ad-home-dashboard-container .ad-home-dashboard-optionsDetailPage .adProduct-formDiv .in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.ad-home-dashboard-section .ad-home-dashboard-container .ad-home-dashboard-optionsDetailPage .adProduct-formDiv .in label {
  width: 250px;
}
