main .container {
  margin-top: 17rem;
  padding: 30px;
  height: 500px;
  display: flex;
  width: 45rem;
  border-radius: 25px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

main .container .form-div form .field input {
  width: 100%;
  outline: none;
  font-size: 1.2em;
  padding: 0 15px;
  line-height: 72px;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid #e3dfdf73;
  background: transparent;
  transition: 0.1s cubic-bezier(0.6, 0.32, 0, 1.04);
}
