<!-- footer section starts -->

<footer>

    <div class="container">

        <div class="options">
            <div class="shipping advantages">
                <i class="fa-solid fa-clock-rotate-left icons"></i>
                <div class="div-of-adv-txt">
                    <h4>EXPRESS SHIPPING</h4>
                    <p>Shipping in 24 hours</p>
                </div>
            </div>
            <div class="tracking advantages">
                <i class="fa-solid fa-truck-fast icons"></i>
                <div class="div-of-adv-txt">
                    <h4>SHIPPING TRACKING</h4>
                    <p>Online order tracking</p>
                </div>
            </div>
            <div class="safely advantages">
                <i class="fa-solid fa-wallet icons"></i>
                <div class="div-of-adv-txt">
                    <h4>BUY SAFELY</h4>
                    <p>Any question is here to help!</p>
                </div>
            </div>
            <div class="subscribe advantages">
                <i class="fa-regular fa-envelope icons"></i>
                <div class="div-of-adv-txt">
                    <h4>SIGNUP FOR NEWSLETTERS</h4>
                    <p>Be the first to know. signup for newsletters today</p>
                    <input class="subscribe" type="email" name="email" placeholder="Enter your email" required>
                    <input type="submit" value="subscribe">


                </div>
            </div>
        </div>


        <div class="footer-txt">
            <div class="customer-service text-div">
                <h4>CUSTOMER SERVICE</h4>
                <p>Contact Us</p>
                <p>Shipping & Returns</p>
                <p>Terms & Conditions</p>
                <p>Delivery</p>
            </div>
            <div class="information text-div">
                <h4>INFORMATION</h4>
                <p>About</p>
                <p>Payments</p>
                <p>Size Guide</p>
                <p>Administrator</p>
            </div>
            <div class="follow-us text-div">
                <h4>FOLLOW US</h4>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="contact-us text-div">
                <h4>CONTACT US</h4>
                <div class="phone contact-methods">
                    <i class="fa-solid fa-phone-volume"></i>
                    <p>(+91) 9567078537</p>
                </div>

                <div class="email contact-methods">
                    <i class="fa-solid fa-envelope"></i>
                    <p>aflutech2@gmail.com</p>
                </div>

                <div class="time contact-methods">
                    <i class="fa-regular fa-clock"></i>
                    <p>8:00 - 21:00 GMT + 5:30</p>
                </div>

            </div>
        </div>

    </div>
</footer>



</body>
</html>