body {
    margin: 0;
    padding: 0;
}

.cart-section {
    width: 100%;
    height: auto;
    padding-top: 115px;
    display: flex;
    justify-content: center;
}

.cart-section .cart-container {
    width: 85%;
    display: flex;
    justify-content: space-evenly;

}

 .cart-section .cart-container .order-items {

    box-shadow: 0px 0px 20px -14px;
    width: 70%;
    padding: 10px 25px;
    border-radius: 8px;
}

.cart-section .cart-container .order-items .cart-item {

    display: flex;
}


.cart-section .cart-container .order-items .cart-item .cart-itemDetails-div {

        width: 100%;
        display: flex;
        justify-content: space-around;
}

.cart-section .cart-container .order-items .cart-item .cart-itemDetails-div .cart-itemDetails-thedetails-div {

    display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;

}



.cart-section .cart-container .order-summury {
    box-shadow: 0px 0px 9px -4px;
}

