.contactUs-section {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactUs-section .contactUs-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8%;
  width: 75%;
}

.contactUs-section .contactUs-container h3 {
  font-size: 26px;
  margin-bottom: 5px;
}

.contactUs-section .contactUs-container p {
  line-height: 30px;
}
