.orders-listContainer {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orders-listContainer .each-order {
  width: 75%;
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 10px -5px;
  margin: 20px;
}
