.view-all-productsSection {

    width: 100%;
    padding-top: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
}


.view-all-productsSection .view-all-productsContainer {

    width: 99%;
    height: auto;
    display: flex;

}


.view-all-productsSection .view-all-productsContainer .brands-price-rating-discount {

    width: 20%;
    padding-top: 100px;
    display: flex;
    line-height: 38px;
    flex-direction: column;
}

.view-all-productsSection .view-all-productsContainer .brands-price-rating-discount div {

    width: 99%;
    height: 285px;
    border-bottom: solid rgba(142, 142, 142, 0.697) 1px;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    background-color: #fff;

}


.view-all-productsSection .view-all-productsContainer .brands-price-rating-discount h2 {
    
    margin: 10px;
}



.view-all-productsSection .view-all-productsContainer .brands-price-rating-discount input {

    margin: 5px;
}


.view-all-productsSection .view-all-productsContainer .the-products {

    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    overflow-x: hidden;
    overflow-y: auto;
}


.view-all-productsSection .view-all-productsContainer .the-products a {

    background-color: #fff;
}


.view-all-productsSection .view-all-productsContainer .the-products .product {


    width: 85%;
    height: 300px;
    padding: 15px;
    padding-right: 40px;
    margin: 5px;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
