<%- include('../layouts/header.ejs') %>  

<link rel="stylesheet" href="/css/userCss/about.css">


<main class="about-wrapper" style="min-height: 50vh;">
    <section class="about-hero">
        <div class="container" style="margin: auto;">
            <div class="row align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-4 fw-bold mb-4">What We Do.</h1>
                    <p class="lead text-muted">At DashFootwares, "Do Good" isn't just a slogan—it's woven into every stitch of our product and every decision in our culture.</p>
                    <div class="b-corp-badge mt-4">
                        <i class="fa-solid fa-certificate me-2"></i> Certified B Corporation
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<%- include('../layouts/footer.ejs') %>