<%- include('../layouts/header.ejs') %>

<div class="aboutUs-section">
    <div class="aboutUs-container">
        <h3>WHAT WE DO</h3>
        <p>DashFootware, Do good, touches every aspect of our company. From our giving model to our company culture and sustainable product design, we see our business as a vehicle to make an impact.</p>
        <p>As a certified B Corporation, we put 1% of our revenue toward addressing poverty and supporting community development. Through our grant program, we promote organizations successfully improving the human condition. To date, we've awarded 42 grants in six focus countries. Learn more about our impact here</p>
    </div>
</div>

<%- include('../layouts/footer.ejs') %>



<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/ed9ee806-6350-4aa5-83c7-429a624c7e75/CbSNWxLaX7.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>