<%- include('../layouts/header.ejs') %>

<div class="contactUs-section">
    <div class="contactUs-container">

        <h3>How Can We Help?</h3>
        <p>Send us a text : 9567078537</p>
        <p>call us on : 9567078537</p>
        <p>Monday - Friday 6AM - 5PM PST</p>
        <p>Saturday - Sunday 6AM - 4PM PST</p>

    </div>
</div>


<%- include('../layouts/footer.ejs') %>
