<%- include('../layouts/header.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div class="forget-div-main">
    <div class="forget-container">
        <div class="forget-div">
            <form action="setNewPass?id=<%= id %>" method="post">
                <h2>Set New password</h2>
                <input type="number" name="password" placeholder="Enter pass..." style="padding: 5px 
                
                ;
                    font-size: 15px;
                    margin-bottom: 15px;">
                <br>
                <input type="number" name="cpassword" placeholder="Re-nter pass..." style="padding: 5px 
                
                ;
                    font-size: 15px;
                    margin-bottom: 15px;">
                <br>
                <input type="submit" value="Get OTP" style="    background-color: black;
                border: none;
                color: white;
                padding: 6px;
                font-size: 14px;
                width: 86px;
                border-radius: 5px;">
            </form>
            <% if (typeof emessage !== 'undefined') { %>
                <script>
                    Swal.fire({
                        title: 'Failed!',
                        text: '<%= emessage %>',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                </script>
            <% } %>

        </div>
    </div>
</div>





<%- include('../layouts/footer.ejs') %>
